
.about-title {
  font-size: 2.0em;
  color: #000000;
  text-align: center;
}
.about-description {
  font-size: 1.2em;
  text-align: center;
  color: #000000;
  padding-bottom: 10px;
  padding-top: 0px;
}

.about-text {
  font-size: 1.1em;
  color: #000000;
  text-align: center;
}

.about-textHeader {
  color:#000000;
  text-align: center;
  font-size: 1.4em;
}
