@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    animation: App-logo-side-to-side 2s infinite linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-side-to-side {
  0% {
    transform: translateX(-50px); /* Start 50px to the left */
  }
  50% {
    transform: translateX(50px); /* Move 50px to the right */
  }
  100% {
    transform: translateX(-50px); /* Move back to 50px to the left */
  }
}

.germwatch-title {
  font-family: "Bebas Neue", sans-serif;  /* Example of using the Georgia font */
}

