footer {
  background-color: #333; 
  color: white; 
  text-align: center; 
  padding: 20px 0; 
  position: relative;
  bottom: 0;
  width: 100%; 
  font-size: 14px; 
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); 
}

footer p {
  margin: 0; 
}
